<footer id="" class="h-5 fixed-bottom bg-sucess position-flex bottom-0 end-0 ">
	<div class="container d-flex justify-content-center my-3 fs-4 bg-success " >
		<a class="text-white" href="https://www.facebook.com">
			<ion-icon name="logo-facebook"></ion-icon>
		</a>
		<a class="text-white" href="https://www.instagram.com">
			<ion-icon name="logo-instagram"></ion-icon>
		</a>
		<a class="text-white" href="https://github.com/kelamJ">
			<ion-icon name="logo-github"></ion-icon>
		</a>
	<div class="">
		<h6 class="mt-1 text-white">© Kelam. 2023 Tous droits réservés.</h6>
	</div>
	</div>
</footer>
