<footer id="sticky-footer" class="h-5 fixed-bottom bg-light position-flex bottom-0 end-0">
	<div class="container d-flex justify-content-center my-1 fs-3" >
		<a href="https://www.facebook.com">
			<ion-icon name="logo-facebook"></ion-icon>
		</a>
		<a href="https://www.instagram.com">
			<ion-icon name="logo-instagram"></ion-icon>
		</a>
		<a href="https://github.com/kelamJ">
			<ion-icon name="logo-github"></ion-icon>
		</a>
	</div>
</footer>
