{% extends "base.html.twig" %}

{% block title %} Administration {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-success p-2">
                <h1 class="text-white">Administration</h1>
            </main>
        </div>
    </div>
{% endblock %}