{% extends 'base.html.twig' %}

{% block title %}Administration des catégories
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-center">
		<h1 class="text-white">Ajouter une catégorie</h1>
	</div>
	<main class="container d-flex justify-content-center my-3">
		<section class="row">
			<div class="col-12">
				{% include "admin/categories/_form.html.twig" %}
			</div>
		</section>
	</main>

{% endblock %}
