{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Modifier utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_users_gestion') }}">back to list</a>

{# {{ include('transporter/_delete_form.html.twig') }} #}
{% endblock %}
