{% extends 'base.html.twig' %}

{% block title %}Administration des plats
{% endblock %}

{% block body %}

	<div>
		<h1 class="text-white d-flex justify-content-center">Ajouter un plat</h1>
	</div>
	<main class="container my-3 d-flex justify-content-center">
		<section class="row">
			<div class="col-12">
				{% include "admin/plats/_form.html.twig" %}
			</div>
		</section>
	</main>

{% endblock %}
