{% extends "base.html.twig" %}

{% block title %} Page non trouvée{% endblock %}

{% block body %}
    <main class="container my-5">
        <section class="row">
            <div class="col-12 center-block text-center">
                <h1>Page non trouvée</h1>
            </div>
                <div class="col-12 center-block text-center">
                <p>La page que vous recherchez n'a pas été trouvée.</p>
                </div>
        </section>
    </main>
{% endblock %}